*
{
    font-family: 'Raleway', sans-serif;
    color: black; 
   
}

*
{
  margin: 0;
}
body
{
    max-width: 1400px;
    margin: auto;
}
a
{
    text-decoration: none; 
}
h2
{
    font-weight: 700;
    font-size: 18px;
}
h3
{
    font-weight: 700;
    font-size: 16px;
}
.introduction
{
    margin: 50px 5px 50px 5px;
}
h1
{
    font-weight: 700;
    font-size: 22px;
}
/*Header*/
nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

.liens-header
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; 
  height: 60px;
}
header div
{
    display: flex;
    flex-direction: row;
}

.liens-header:hover
{
    color: #0065FC;
    border-top: 3px solid #0065fc; 
}

/*Formulaire de recherche*/
label
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding:17px 18px 15px 18px;
}
form
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
   
}
#Rechercher
{
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: left;  
    padding:15px 16px;
}
.bouton
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding:15px 16px;
}
.loupe
{
    background-color: #0065FC;
   
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding:15px 16px;
    display: none;
}
.fa-magnifying-glass
{
    color: white;
}

/*Filtres*/
.détail-filtres
{
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    height: 50px;
    padding: 0px 15px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.détail-filtres:hover
{
    background: #DEEBFF;
}
.bloc-filtres
{
    display: flex;
    flex-direction: row;
   
}
.fa-money-bill-wave 
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-person
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-heart
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-dog
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.filtres
{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.fa-info
{
    border: 2px solid #d9d9d9; 
    border-radius: 50px;
    width: 24px;
    height: 24px;
    color:#0065FC;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introduction h1
{
    padding-bottom: 20px;
}
/*Hébergements à Marseille*/
#hébergements
{
    width: 850px;
    height: 650px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.hotel-auberge
{
    width: 256px;
    height: 210px;
    background: #ffffffe2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(195, 193, 193); 
    
}
.hotel-auberge img
{
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;  
}
.vignette-hébergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 480px; 
}

h3
{
    font-weight: 700;
    font-size: 16px;
}


.hotel-auberge p
{
    font-weight: 400;
    font-size: 14px;
}
.text-sous-img
{
    padding-left: 16px;
}

.star i:nth-child(-n+4)
{
    color:#0065FC;
    font-size: 12px;
}
.star i:nth-child(5)
{
    color:#F2F2F2;
}

em
{
    font-weight: bold;
    font-style: normal;
}

/*Les plus populaires*/

.titres-populaires
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
 
.hotel-auberge-populaire
{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(195, 193, 193);
    margin: auto;
}

.text-coté-img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.Populaires
{
    width: 420px;
    height: 650px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.Populaires img
{
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.titres-populaires i
{
    color:#0065FC;
}
.vignette-populaire
{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
/*regroupement*/
.hebergements-populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*activités*/
.vignettes-activités
{
    width: 302px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(195, 193, 193);
}
.vignettes-activités img
{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.Activités-flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Activités
{
    margin: 50px 0px;
}
#Activités h1{
    padding-bottom: 18px;
}
.vignettes-activités h3
{
    padding-left: 19px;
}
/*Footer*/
.detail-footer
{
    padding-bottom: 10px;
}

.footer
{
    display:flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 40px;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-bottom: 50px;
}

footer h2
{
    padding-bottom: 20px;
    padding-top: 20px;
}

/*media queries*/

@media screen and (max-width: 992px) {
    .hebergements-populaires {
        flex-direction: column;
    }
    .vignette-populaire {
        flex-direction: row;
    }
    .Populaires {
        width: 883px;
        height: 278px;
    }
    .hotel-auberge-populaire {
        width: 242px;
        height: 144px;
    }
    .titres-populaires {
        justify-content: space-between;
        padding: 30px 30px 0px 30px;
    }
    .vignettes-activités {
        width: 182px;
        height: 267px;
        margin: 15px;
    }
    .vignettes-activités img {
        width: 182px;
        height: 211px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }
    .liens-header {
        padding-top: 20px;
    }
    .liens-header:hover {
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
   
    .hebergements-populaires {
        flex-direction: column-reverse;
    }
    .Activités-flex {
        flex-direction: column;
        align-items: center;
    }
    footer {
        flex-direction: column;
    }
    .footer {
        margin-left: 15px;
    }
    .vignette-hébergement {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between; 
        height: 1400px;
        width: 375px;
        align-items: center;
        
    }
    #hébergements {
        background-color: white;
        height: 1600px;
        width: 375px;
    }
    .hotel-auberge {
        width: 335px;
        border: 1px solid #e5e3e3;
       
    }
    .hotel-auberge img {
        width: 325px;
        
    }
    .hotel-auberge-populaire {
        width: 334px;
        height: 144px;
    }
    .vignettes-activités {
        width: 335px;
        height: 190px;
        margin: 15px;
    }
    .vignettes-activités img {
        width: 335px;
        height: 134px;
    }
    .Populaires {
        width: 100%;
        height: 580px;
        border-radius: 0px;       
    }
    .vignette-populaire {
        flex-direction: column;
    }
    .détail-filtres {
        font-size: 11px;
        width: 130px;
    }
    .filtres {
        flex-direction: column;
        align-items:baseline;
    }
    .bloc-filtres {
        flex-wrap: wrap;
        justify-content: center;
    }
    .filtres h2 {
        padding-left: 15px;
    }
    .bouton
     {
        display: none;
     }
    .loupe
    {
        display: flex;
    }
    form
    {
        justify-content:center;
    }
}


    

    



