*
{
    font-family: 'Raleway', sans-serif;
    color: black;    
}

*
{
    margin: 0;  
}
a
{
    text-decoration: none; 
}
h2
{
    font-weight: 700;
    font-size: 18px;
}
.introduction
{
    padding-left: 56px;
}
h1
{
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
}
/*Header*/
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}

.liens-header
{
    padding: 30px 50px;   
}

.liens-header:hover
{
    color: #0065FC;
    border-top: 3px solid #0065fc; 
}

/*Formulaire de recherche*/
label
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding:17px 18px 15px 18px;
}
form
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#Rechercher
{
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: left;  
    padding:15px 16px;
}
.bouton
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding:15px 16px;
}
/*Filtres*/
.détail-filtres
{
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    padding: 15px 20px;
    margin: 20px;
}
.détail-filtres:hover
{
    background: #DEEBFF;
}
.fa-money-bill-wave 
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-person
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-heart
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.fa-dog
{
    padding-right: 10px;
    color:#0065FC;
    font-size: 20px;
}
.filtres
{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.fa-info
{
    border: 2px solid #d9d9d9; 
    border-radius: 50px;
    padding: 7px 12px;
    color:#0065FC;
    text-align: center;
    margin-right: 10px;
}
.introduction p
{
    padding-bottom: 20px;
}
/*Hébergements à Marseille*/
#hébergements
{
    width: 900px;
    height: 650px;
    background: #F2F2F2;
    border-radius: 20px;
}
.hotel-auberge
{
    width: 256px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(195, 193, 193);
    
}
.hotel-auberge img
{
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}
.vignette-hébergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 10px;
    gap:10px;
}

#hébergements h1
{
    padding: 41px 0px 20px 30px
    
}
h3
{
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}
.hotel-auberge p
{
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 5px; 
   
}
.text-sous-img
{
    padding-left: 16px;
}

.star i:nth-child(-n+4)
{
    color:#0065FC;
    font-size: 12px;
}
.star i:nth-child(5)
{
    color:#F2F2F2;
}
#hébergements h2
{ 
    padding: 30px 0px 0px 30px;
}
em
{
    font-weight: bold;
    font-style: normal;
}
/*Footer*/
.detail-footer
{
    padding-bottom: 10px;
}

.footer
{
    display:flex;
    flex-direction: column;
    text-align: left;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding-top: 45px;
    padding-bottom: 58PX;
    margin: 50px 50px 0px 50px;
}

footer h2
{
    padding-bottom: 20px;
}
/*Les plus populaires*/

.titres-populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 41px 40px 0px 37px;
}
 
.hotel-auberge-populaire
{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(195, 193, 193);
    margin: 0px 40px 34px 37px
}

.text-coté-img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 22px 12px 15px;
}

.Populaires
{
    width: 420px;
    height: 650px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Populaires img
{
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.titres-populaires i
{
    color:#0065FC;
}
/*regroupement*/
.hebergements-populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}